<main id="main" class="main">
    <main id="main" class="main page-main">
        <div class="page-content-wrapper">
            <h1>
                Server Side Rendered Index Page
            </h1>
            <div class="richtext">
                <p>
                    Welcome to the webpack test project
                </p>
            </div>
            <div id="client-side-images">
                <!-- This will be interacted with using the client side bundled script -->
            </div>
        </div>
    </main>
</main>
