<main class="main container">
    <form method="post">
        <input type="email" name="email" placeholder="Email" />
        <input type="submit" value="Submit" />
    </form>
    <br />
    <hr />
    <br />
    <div class="credits">
        Example by <a href="https://www.incredible-web.com/" target="_blank">Incredible Web Ltd.</a>
    </div>
</main>
